# Airflow 관련
apache-airflow==2.7.1
apache-airflow-providers-postgres==5.6.1

# 데이터베이스
psycopg2-binary==2.9.9
SQLAlchemy==1.4.49
alembic==1.12.1

# 웹 스크래핑 및 비동기 처리
aiohttp==3.9.1
aiohttp-socks==0.8.4
fake-useragent==1.4.0
stem==1.8.2

# 유틸리티
python-dotenv==1.0.0
tqdm==4.66.1
pendulum==2.1.2

# 지리정보 처리
geoalchemy2==0.14.1
shapely==2.0.2

# JSON 처리
simplejson==3.19.2

# 로깅
python-json-logger==2.0.7