.notice-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1400;
}

.notice-modal {
    background: white;
    width: 300px;
    height: 90%;
    padding: 20px;
    border-radius: 10px;
    margin: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 220px;
}

.notice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.notice-closebtn {
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.notice-modal-body {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow-y: auto;
    border: none;
    border-color: #D3D3D3;
    border-radius: 10px;
    gap: 10px;
}

.notice-btn1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    width: 100%;
    min-height: 100px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.notice-body-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    white-space: normal;
    word-break: break-word;
}

.notice-body-date {
    font-size: 14px;
    text-align: right;
    width: 100%;
    padding-right: 10px;
}

.notice-body-text {
    font-size: 16px;
    text-align: center;
    width: 100%;
    white-space: normal;
    word-break: break-word;
}